@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

main {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(218, 217, 228);
  height: auto;
  width: 100%;
  margin-bottom: 0.5em;
}

.information-section {
  width: 100%;
  height: 100%;
}

.information-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.information {
  color: #495057;
  font-size: 1.2em;
}

.text-container {
  background-color: #F3F5FC;
  margin: 5em 0em 38.8em 0em;
  /*margin-top: 90px;
  margin-bottom: 20em;
  margin-left: 2em;
  */
  max-height: 288px;
  height: 100%;


  max-width: 680px;
  width: 100%;
}

.text-input {
  border: none;
  color: #0A3871;
  width: 100%;
  height: 100%;
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  background-color: #F3F5FC;
  font-size: 2em;
}

.text-input::placeholder {
  color: #0A3871;
}

::placeholder::first-letter {
  text-transform: uppercase;
}

.text-input:focus {
  outline: none;
}

.info-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}

.info-container-limite {
  display: flex;
  flex-direction: row;

  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-left: 3em;
}

.info-container-limite img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.175em;
}



.button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 4.2em;
  width: 100%;
  margin-bottom: 1.3em;
}

.decrypt-btn,
.encrypt-btn {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: #D8DFE8;
  border: 1px solid #0A3871;
  border-radius: 24px;
  color: #0A3871;
  cursor: pointer;

  height: 100%;
  width: 100%;
  max-width: 45%;
  margin: 0 5px;
  font-size: 1.2em;
  padding: 0.5rem;
  font-weight: bold;
}

.encrypt-btn:hover {
  background-color: #ffffff;
  color: #0A3871;
}

.decrypt-btn:hover {
  color: #D8DFE8;
  background-color: #0A3871;
}

.encrypt-btn {
  background-color: #0A3871;
  color: #FFFFFF;
}

.copy-section {
  width: 100%;
  max-width: 400px;
  max-height: 944px;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 2rem;
  position: relative;
  margin: 0.5rem;
}

.image-search-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 2rem;
}

.search-image {
  width: 100%;
  height: 100%;
  max-width: 336px;
  max-height: 304px;
  background-size: cover;
  background: white;
  background-image: url("../../assets/boneco.svg");
  background-repeat: no-repeat;
  border: none;
  border-radius: 24px;
  color: #0A3871;
  margin-bottom: 1em;
}

.search-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0% 1%;
}

.not-found-message {
  font-size: 1em;
  text-align: center;
  font-family: 'Inter';
  font-weight: 700;
  line-height: 1.8em;
}

.info-message {
  font-size: 0.7em;
  text-align: center;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 1.6em;
}

.message:focus {
  outline: none;
}

.container-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 97%;
  height: 100%;

}

.text {
  width: 100%;
  background-color: white;
  word-wrap: break-word;
  border-radius: 1rem;
  padding: 0.5rem;
  height: 100%;
  overflow-y: auto;
  font-size: 2em;
}

.text p {
  height: auto;
}

.btn-container {
  max-height: 67px;
  height: 100%;

  display: flex;
  flex-direction: row;

  border: 1px solid rgba(255, 255, 255, 0);
}

.copy-btn {
  background: #0A3871;
  border: 1px solid #0A3871;
  border-radius: 24px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.2em;
  font-weight: bold;

  width: 100%;
}

.copy-btn:hover {
  background-color: #0A3871;
  color: #FFFFFF;
}
