<main>
  <section class="information-section">
    <div class="information-box">
      <div class="text-container">
        <textarea class="text-input" placeholder="Digite seu texto" [(ngModel)]="textoOriginal"></textarea>
      </div>

      <div class="info-box">
        <div class="info-container">
          <div class="info-container-limite">
            <img src="../../assets/exclamacao-informacao.svg" alt="">
            <h6 class="information">Apenas letras minúsculas e sem acento.</h6>
          </div>
        </div>
        <div class="button-box">
          <button class="encrypt-btn" (click)="criptografar()">Criptografar</button>
          <button class="decrypt-btn" (click)="descriptografar()">Descriptografar</button>
        </div>
      </div>
    </div>
  </section>

  <section class="copy-section">
    <div class="image-search-box">
      <div class="search-image" *ngIf="!textoCriptografado && !textoDescriptografado"></div>

      <div class="search-text" *ngIf="!textoCriptografado && !textoDescriptografado">
        <p class="not-found-message">Nenhuma mensagem encontrada</p>
        <p class="info-message">Digite um texto que você deseja criptografar ou descriptografar.</p>
      </div>

      <div class="container-text" *ngIf="textoCriptografado || textoDescriptografado">
        <div class="text">
          <p>{{ textoCriptografado }}</p>
          <p>{{ textoDescriptografado }}</p>
        </div>

        <div class="btn-container">
          <button class="copy-btn" (click)="copiarTexto()">Copiar</button>
        </div>

      </div>
    </div>
  </section>
</main>
