.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #F3F5FC;
  padding: 0.2em;
}

header p {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #F3F5FC;
  -webkit-text-stroke: 1px #0A3871;

}


