@media (min-width: 481px) and (max-width: 768px) {
  .app-container {
    max-height: 1174px;
    height: auto;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .app-container {
    max-height: 933px;
    height: 100%;
    width: 99%;

  }

}

