.app-container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh; /* Garante que o contêiner ocupe toda a altura da tela */
  display: flex;
  flex-direction: column; /* Organiza os elementos em coluna */
  border: 2px solid #b3c1f7;

  
}

.app-container app-content {
  flex: 1; /* Faz o conteúdo ocupar o espaço disponível */
}
