.app-container {

  padding: 0.005em;

  max-height: 1024px;
  height: 100vh;
  
  max-width: 1440px;
  width: 100%;

  margin: 0 auto;
  display: flex;
  flex-direction: column; /* Garante que os elementos dentro do container sejam organizados em coluna */
  border: 1px solid rgb(218, 217, 228);

}

